services:
  crafty:
    container_name: crafty
    image: registry.gitlab.com/crafty-controller/crafty-4:latest
    restart: unless-stopped
    environment:
      - TZ=America/Lima
    ports:
      - "25565:25565"      # Minecraft Java
      - "19132:19132/udp"  # Minecraft Bedrock
    volumes:
      - ./crafty/backups:/crafty/backups
      - ./crafty/logs:/crafty/logs
      - ./crafty/servers:/crafty/servers
      - ./crafty/config:/crafty/app/config
      - ./crafty/import:/crafty/import
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
